@import 'variables.styl'

html, body
  font-family fontFamily
  background  bgColor
  color txtColor

html,body,ul
  padding 0
  margin 0

a
  text-decoration none
  color brand
  &:hover
    color hoverColor

  