body, #app
  display flex
  flex-flow column
  align-items center

#app
  width 100%

 #nav
   min-height 3em
   display flex
   align-items center
   justify-content center
   background-color navBg
   width 100%
   ul
    list-style none
