@import 'variables.styl'
@import 'mixins.styl'

.pic
  border white solid 10px
  box-shadow boxShadow
 
.small
  font-size 0.8em
  
ul.plain
  list-style none
  margin 1em 0 0 0
  
.frame
  flex-centered()
  flex-flow column wrap
  margin .5em 0
 
 .txt-center
   text-align center