fontFamily = Avenir, Helvetica, Arial, sans-serif
bgColor = #d8dede
txtColor = #385b5f
borderColor = gray
brand = #1e5d5d
brandComp = #1cbb97
hoverColor = brandComp
navBg = lighten(brand, 10)
error = red
warn = orange
info = green
label = cyan

gray = saturation(lighten(brand, 30),10)

shadowColor = rgba(0, 0, 0, 0.3)
boxShadow = 2px 2px 2px shadowColor
textFxShadow = 1px 1px 60px white
textShadow = 1px 1px .5px rgba(0, 0, 0, 0.5)