fontFamily = Avenir, Helvetica, Arial, sans-serif
bgColor = #d8dede
txtColor = #385b5f
borderColor = gray
brand = #1e5d5d
brandComp = #1cbb97
navBg = lighten(brand, 10)
error = red
warn = orange
info = green
label = cyan
boxShadow = 2px 2px 2px rgba(0, 0, 0, 0.3)
gray = saturation(lighten(brand, 30),10)
